@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ieee-red: #c41230;
  --ieee-navy: #0a1628;
  --ieee-gray: #4a4a4a;
}

html {
  font-size: calc(15px + 0.35vw);
}

body {
  @apply bg-[#ffffff] text-gray-900 antialiased text-lg;
}
